<hr>
<header>
    <nav>
        <ul>
            <li><a href="/dashboard/admin">Dashboard</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<hr>