<% if(typeof errors != 'undefined') { %>
    <%  errors.forEach((error) => { %>
            <center><p style="margin: 0.5rem;"><%= error.msg %></p></center>
    <% }) %>
<% } %>

<% if(success_msg!= '') { %>
  <center><p style="margin: 0.5rem;"><%= success_msg %></p></center>
<% } %>

<% if(error_msg != '') { %>
  <center><p style="margin: 0.5rem;"><%= error_msg %></p></center>
<% } %> 

<% if(error != '') { %>
  <center><p style="margin: 0.5rem;"><%= error %></p></center>
<% } %>