<div class="container">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="max-width: 50rem; margin: 20vh auto;">
        <div class="row">
            <div class="col">
                <h1 class="display-1">SMIT GYM </h1>
                <h3 class="display-6">For hassle free gym experience!</h3>
            </div>
        </div>
       
        <div class="row mt-4">
            <div class="col">
                <p>
                This app is aimed at automating the various tasks related to gym management in the college.
                </p>
                <p>
                This app will automate and improve the communication among the gym trainers and goers and will be a major breakthrough in bidding adieu to most of the manual work.
                </p>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="/users/register" class="btn btn-primary">Sign up</a> 
                or
                <a href="/users/login" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>

