<%- include ('./partials/messages') %>

<div class="container">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded " style="width: 20rem; margin: 20vh auto;">
        <div class="row justify-content-center align-items-center mt-3">
            <div class="col-auto">
                <h1 class="card-title">Login</h1>
            </div>
       </div>

       <div class="row justify-content-center align-items-center mt-3">
           <div class="col-auto">
               <form action="/users/login" method="POST">

                   <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter Email" />
                   </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter Password" />
                    </div>

                    <button type="submit" class="btn btn-primary mb-3">Login</button>

               </form>
           </div>
       </div> 

       <div class="row justify-content-center align-items-center mt-3">
             <div class="col-auto">
                <i> New User? <a href="/users/register">Sign Up</a></i>
             </div>
       </div>

    </div>   
</div>